<h1>View Kit</h1>

<button>Add to Favourites</button>
<ul>
    <li>Name</li>
    <li>Image</li>
    <li>Grade</li>
    <li>Series</li>
    <li>Date of Release</li>
    <li>SKU</li>
    <li>Instructions</li>
</ul>

<button>Add to Backlog</button>
<button>Completed</button>





