<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gundarchive</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="page-container">

<a href="/newkit">New Kit</a>
<a href="/viewkits">View Kits</a>


        <%- body %>



        
    </div>
</body>
</html>