<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gundarchive</title>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="gradient-line-top"> </div>
    <div class="page-container">

<a href="/"><img src="/IMG_2229.PNG" alt="" class="page-logo"></a>

<div class="header">
    <% if (isAdmin) {%>

        <a href="/newkit"><button>NEW</button></a> 
        <%}%>
<a href="/viewkits/1"><button>KITS</button></a>
<% if (isLoggedIn) {%>

    <a href="/profile/<%=currentUser.username%>"><button>USER</button></a>

    <form action="/logout?_method=delete" method="post" class="log">
        <button>LOGOUT</button>
    </form>
    

    <%} else {%>

        <form action="/login" method="get" class="log">
            <button>LOGIN</button>
        </form>
        
    <%}%>
    
</div>



        <%- body %>



        
    </div>
    <div class="gradient-line-bottom"> </div>

    <p class="copyright">&copy 2024</p>

</body>
</html>