<h1>LOG IN</h1>

<form action="/login" method="post" class="login">
<label for="">USERNAME</label><br>
<input type="text" name = "username"><br>
<br>
<label for="">PASSWORD</label><br>
<input type="password" name="password"><br>

<button>LOGIN</button>


</form>