<h1>LOG IN</h1>

<form action="/login" method="post">
    <div class="login">
<label for="">USERNAME</label><br>
<input type="text" name = "username"><br>
<br>
<label for="">PASSWORD</label><br>
<input type="password" name="password"><br>
</div>

<button>LOGIN</button>
</form>

<a href="/newuser"><button>NEW USER</button></a>