<form action="/newkit" method="post">
    <label for="name">Name</label><br>
    <input type="text" name="name"><br>

    <label for="gradeID">Grade</label><br>
        <select name="gradeID" id="grade">
          <option value="1">High Grade</option>
          <option value="2">Real Grade</option>
          <option value="3">Master Grade</option>
          <option value="4">MG Ver Ka.</option>
          <option value="5">Full Mechanics</option>
          <option value="11">Master Grade Extreme</option>
          <option value="6">MGSD</option>
          <option value="7">Perfect Grade</option>
          <option value="8">Super Deformed</option>
          <option value="9">Entry Grade</option>
          <option value="10">Figure Rise Standard</option>
        </select><br>

    
    <label for="seriesID">Series</label><br>
    <select name="seriesID" id="series">
        <option value="1">Mobile Suit Gundam</option>
        <option value="2">Gundam Seed</option>
        <option value="3">Gundam Seed Destiny</option>
        <option value="4">Iron Blooded Orphans</option>
        <option value="5">Witch from Mercury</option>
        <option value="6">Seed Freedom</option>
        <option value="7">Neon Genesis Evangelion</option>
      </select><br>

      <label for="">Date</label><br>
      <input type="date" name="date"><br>

      <label for="">SKU</label><br>
      <input type="text" name="sku"><br>

      <label for="">Image URL</label><br>
      <input type="text" name="imageURL"><br>

      <button type="submit">SUBMIT</button>
</form>