<h1><%=currentUser.username%></h1>

<a href="/profile/<%=currentUser.username%>/favourites"><button>VIEW FAVOURITES</button></a>

<a href="/profile/<%=currentUser.username%>/backlog"><button>VIEW BACKLOG</button></a>

<button>VIEW COMPLETED</button>
