@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,bold,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Orbitron:regular,500,600,700,800,900);
body {
    background-color: rgb(0, 0, 39);
    color: rgb(0, 255, 255);
    font-family: 'orbitron';
    font-weight: bold;
    text-align: center;

}

.page-container {
    width: 900px;
    margin: 0 auto
}

img {
  width: 100%;
}

.image-container {
    width: 100px;
    height: 100px;
    background-color: aqua;
    display: flex;
    padding: 2px;
    transition: width 0.3s, height 0.3s;
}

.backlog-image-container {
  width: 150px;
  height: 170px;
  background-color: aqua;
  display: flex;
  padding: 2px;
  transition: width 0.3s, height 0.3s;
}

.completed-image-container {
  width: 150px;
  height: 100px;
  background-color: aqua;
  display: flex;
  padding: 2px;
  transition: width 0.3s, height 0.3s;
}


.image-container img, 
.backlog-image-container img, 
.completed-image-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.kit-container {
    background-color: rgb(0, 0, 39);
    border: 4px solid aqua;
    color: aqua;
    font-size: 2rem;
    width: 400px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    transition: width 0.3s, font-size 0.3s;
    font-family: 'orbitron';
}

.backlog-kit-container {
  background-color: rgb(0, 0, 39);
  border: 4px solid aqua;
  color: aqua;
  font-size: 2rem;
  width: 850px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  transition: width 0.3s, font-size 0.3s;
  font-family: 'orbitron';
}

.kit-container:hover {
  .image-container {
  height: 150px;
  width: 150px;
  transition: width 0.3s, height 0.3s;
 }
}

.backlog-kit-container:hover {
  width: 900px;
}

.grid-container{ 
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  margin-top: 20px;
  grid-gap: 10px
}

.grade-logo  {
  display: block;
  margin-right: 3px;
}

.series-logo {
  display: block;
}

button {
    background-color: rgb(0, 0, 39);
    border: 2px solid aqua;
    color: aqua;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    min-width: 200px;
    transition: font-size 0.3s;
    font-family: 'orbitron';
  }

  button:hover {
    background-color: aqua;
    color: rgb(0, 0, 39);
    transition: font-size 0.3s;
  }

  .header {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

.grade-logo img {
  max-height: 100%;
}

.series-logo img {
  max-height: 100%;
}

  .logos {
   display: flex;
   flex-direction: row;
   justify-content: center;
   height: 25px;
  }

  .logged-in {
    text-align: right;
  }

  .page-logo {
    margin-top: 20px
  }

  .kit-name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    height: 44px;
  }

  .info-container {
    margin: auto;
    padding: 10px
  }

  .gradient-line-top {
    height: 18px;
    background: linear-gradient(90deg, rgba(0,255,255,0) 10%, rgba(0,255,255,1) 50%, rgba(0,0,0,0) 90%);
  }

  .gradient-line-bottom {
    margin-top: 20px;
    height: 18px;
    background: linear-gradient(90deg, rgba(0,255,255,0) 10%, rgba(0,255,255,1) 50%, rgba(0,0,0,0) 90%);
  }

  .view-logos {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .view-kit-name {
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 0 auto;
    text-transform: uppercase;
  }

  .view-series-logo, .view-grade-logo {
    width: 100px;
    display: flex;
    align-self: center;
    justify-content: center;
    margin-right: 10px;
  }


  .view-series-logo img, .view-grade-logo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }


  .view-kit-image {
    text-align: left;
    width: 600px;
    height: 400px;
    display: flex;
    align-self: center;
    justify-content: center;
    background: aqua;
    padding: 5px;
    border: none;
    transition: width 0.5s, height 0.5s;
  }

  .view-info {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 10px;
    text-align: initial;
    align-items: center;
  }


  .view-kit-image:hover {

    width: 900px;
    height: 900px;
    transition: width 1s, height 1s;
    cursor: pointer;

  }

  .view-kit-image:hover ~ .view-info {
    display: none;
  }

  .view-kit-image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  .view-kit-container {
    display: flex;
  }

  .view-info p {
   align-self: first baseline;
  }
 
  .complete-remove {
   margin-top: 12px;
   margin-right: 12px;
  }

  .backlog-button {
    margin-right: 8px;

  }