@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,bold,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Orbitron:regular,500,600,700,800,900);

@keyframes fadeInMove {
  0% { opacity: 0; margin-top: 100px;}
  100% { opacity: 1; margin-top: 0px;}
}

body {
  background-color: rgb(0, 0, 39);
  color: rgb(0, 255, 255);
  font-family: 'orbitron';
  font-weight: bold;
  text-align: center;

}

input {
  background-color: rgb(0, 0, 39);
  color: rgb(0, 255, 255);
  font-family: 'orbitron';
  border: 1px solid aqua;
  height: 30px;
}

.page-container {
  width: 900px;
  margin: 0 auto
}

img {
  width: 100%;
}

.image-container {
  width: 100px;
  height: 100px;
}

.backlog-image-container {
  width: 150px;
  height: 170px;
}

.completed-image-container {
  width: 150px;
  height: 100px;
}

.image-container,
.backlog-image-container,
.completed-image-container {
  background-color: aqua;
  display: flex;
  padding: 2px;
  transition: width 0.3s, height 0.3s;
}

.image-container img, 
.backlog-image-container img, 
.completed-image-container img,
.view-series-logo img, 
.view-grade-logo img, 
.view-kit-image img,
.logo-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
 
.view-kit-image img {
  animation: fadeInMove 1s;
}

.kit-container,
.backlog-kit-container {
  background-color: rgb(0, 0, 39);
  border: 4px solid aqua;
  color: aqua;
  font-size: 2rem;
  display: grid;
  transition: width 0.3s;
  font-family: 'orbitron';
}

.kit-container {
  width: 445px;
  margin-bottom: 2.5px;
  grid-template-columns: 1fr 5fr;
}

.backlog-kit-container {
  width: 850px;
  margin-bottom: 10px;
  grid-template-columns: 1fr 4fr 2fr;
}

.kit-container:hover {
  .image-container {
  height: 150px;
  width: 150px;
  transition: width 0.3s, height 0.3s;
 }
}

.backlog-kit-container:hover {
  width: 900px;
}

.grid-container{ 
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  margin-top: 20px;
  grid-gap: 10px;
}

.grade-logo,
.series-logo {
  display: block;
}

.grade-logo  {
  margin-right: 3px;
}

button {
  background-color: rgb(0, 0, 39);
  border: 2px solid aqua;
  color: aqua;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  min-width: 200px;
  transition: background-color 0.2s, color 0.2s;
  font-family: 'orbitron';
  }

button:hover {
    background-color: aqua;
    color: rgb(0, 0, 39);
    transition: background-color 0.2s, color 0.2s;
}

.header {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.grade-logo img,
.series-logo img {
  max-height: 100%;
}

.logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 25px;
}

.page-logo {
  margin-top: 20px
}

.kit-name {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  height: 44px;
}

.info-container {
  margin: auto;
  padding: 10px
}

.gradient-line-top {
  height: 18px;
  background: linear-gradient(90deg, rgba(0,255,255,0) 10%, rgba(0,255,255,1) 50%, rgba(0,0,0,0) 90%);
}

.gradient-line-bottom {
  margin-top: 20px;
  height: 18px;
  background: linear-gradient(90deg, rgba(0,255,255,0) 10%, rgba(0,255,255,1) 50%, rgba(0,0,0,0) 90%);
}

.view-logos {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  margin-top: 10px;
}

.view-kit-name {
  display: flex;
  align-self: center;
  justify-content: center;
  margin: 0 auto;
  text-transform: uppercase;
}

.view-series-logo, .view-grade-logo {
  width: 100px;
  display: flex;
  align-self: center;
  justify-content: center;
  margin-right: 10px;
}

.view-kit-image {
  text-align: left;
  width: 600px;
  height: 400px;
  display: flex;
  align-self: center;
  justify-content: center;
  background: aqua;
  padding: 5px;
  border: none;
  transition: width 0.5s, height 0.5s;
}

.view-info {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 10px;
  text-align: initial;
  align-items: center;
}

.view-kit-image:hover {
  width: 900px;
  height: 900px;
  transition: width 1s, height 1s;
  cursor: pointer;
}

.view-kit-image:hover ~ .view-info {
  display: none;
}

.view-kit-container {
  display: flex;
}

.view-info p {
  align-self: first baseline;
}
 
.complete-remove {
  margin-top: 12px;
  margin-right: 12px;
}

.backlog-button {
  margin-right: 8px;

}

.login {
  margin-bottom: 20px;
}

.home-image {
  object-fit: contain;
  animation: fadeInMove 3s;
}

.page-pointer button{
  margin-top: 10px;
}

.series-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.show-container {
  width: 210px;
  border: 2px solid aqua;
  margin: 10px;
  transition: width 0.5s
}

.logo-container {
  display: flex;
  background-color: rgb(0, 0, 39);
  height: 150px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  transition: padding 0.3s
}

.show-container:hover {
  .logo-container {
    padding: 6px;
    transition: padding 0.3s
  }
}

.seriesname-container {
  color: rgb(0, 0, 39);
  background-color: aqua;
  height: 60px;
  display: block;
  text-transform: uppercase;
  padding: 10px;
  align-items: center;
  justify-content: center;
}